body {
    font-family: Arial, sans-serif;
    /* background-color: #4A235A; */
    background-color: white;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #4A235A; */
    background-color: white;
}

.header img {
    height: 40px;
}

.nav-links a {
    /* color: #FFD700; */
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.promo-section img {
    max-width: 100%;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    /* color: #4A235A; */
    color: black;
    border: 1px solid black;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 10px;
}

.form-container p {
    margin-bottom: 20px;
    /* color: #7D3C98; */
    color: black;
}

.session-mode {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.session-mode label {
    margin: 0 10px;
    /* color: #4A235A; */
    color: black;
}

.session-mode input[type="radio"] {
    margin-right: 5px;
}

form input, form select, form button {
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mobile-otp {
    display: flex;
    justify-content: space-between;
}

.mobile-otp input {
    flex: 1;
    margin-right: 5px;
}

.mobile-otp button {
    width: 83px;
    padding: 10px;
    /* background-color: #7D3C98; */
    background-color: rgb(255, 156, 156);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button {
    background-color: #d09c90;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover, .mobile-otp button:hover {
    background-color: #C70039;
}
